<footer id="footer" class="footer color-bg">

  <div class="links-social"><div class="container"><div class="row">

    <div class="col-md-4">


      <%= link_to image_tag("bh1.png", :border => 0, :alt => '', :title => ''), simulador_path, :method  =>'get' %>

    </div>

    <div class="col-md-4">
      <%= link_to image_tag("bh2.png", :border => 0, :alt => '', :title => ''), informenutricional_path, :method  =>'get' %>

    </div>

    <div class="col-md-4">

      <div class="fb-page" style="border:1px solid #FFF;padding:5px;" data-href="https://www.facebook.com/pages/La-Manzana-Naranja/1575294356080458?fref=ts" data-width="100%" data-height="250" data-hide-cover="false" data-show-facepile="true" data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/pages/La-Manzana-Naranja/1575294356080458?fref=ts"><a href="https://www.facebook.com/pages/La-Manzana-Naranja/1575294356080458?fref=ts">La Manzana Naranja</a></blockquote></div></div>
    </div>

  </div></div></div><!--banner x3-->

  <div class="footer-bottom"><div class="container"><div class="row">

    <div class="col-xs-12 col-sm-12 col-md-9">

      <div class="module-body">
        <ul class='list-unstyled'>
          <li>
            <a href="que-hacemos.html">¿Que Hacemos?</a>
          </li>
          <li>
            <a href="planes.html">Planes</a>
          </li>
          <li
          ><a href="estilo-de-vida.html">Estilo de Vida</a>
          </li>
          <li>
            <a href="promesa-de-servicio.html">Promesa de Servicio</a>
          </li>
          <li>
            <a href="preguntas-frecuentes.html">Preguntas Frecuentes</a>
          </li>
          <li>
            <a href="contacto.html">Contáctenos</a>
          </li>
        </ul>
      </div></div>

    <div class="col-xs-12 col-sm-12 col-md-3">
      <div class="pull-right">
        <a href=""><%= image_tag 'fb.png' %></a>
        <a href=""><%= image_tag 'tw.png', :style => 'margin:0 20px' %></a>
        <a href=""><%= image_tag 'in.png' %></a>
      </div></div>

    <div class="col-xs-12 col-sm-12 col-md-12 borde-tops">

      <div class="col-md-9 copyright">
        Copyright © 2015 - Todos los derechos reservados. | Diseño Web: <a href="http://nuclearagenciadigital.com" target="_black">Nuclearagenciadigital.com</a>
      </div>

      <div class="col-md-3 pull-right"> <%= image_tag 'ic-pagos.png', :class=>'pull-right' %></div>

    </div>

  </div></div></div>


</footer>