<div class="col-lg-12">
  <section class="panel">
    <header class="panel-heading">
      Editar <%= @plan.name %>
    </header>
    <div class="panel-body">




      <%= form_for @plan, :url => admin_service_path, :method=>'PUT' do |f|  %>


          <div class="form-group">
            <%= f.label :name, 'Nombre', :class=>'col-lg2 col-sm-2 control-label' %>


            <div class="col-lg-10">
              <div class="col-lg-10">
                <%= f.text_field :name, :class =>'form-control'  %>
              </div>
            </div>
          </div>
          <br/><br/><br/>
          <div class="form-group">
            <%= f.label :dishes, 'Platos', :class=>'col-lg2 col-sm-2 control-label' %>
            <div class="col-lg-10">
              <div class="col-lg-10">
                <%= f.text_field :dishes, :class =>'form-control'  %>
              </div>
            </div>
          </div>



          <% if @plan.id != 5 %>

          <br/><br/><br/>
          <div class="form-group">
            <%= f.label :discount, 'Descuento', :class=>'col-lg2 col-sm-2 control-label' %>
            <div class="col-lg-10">
              <div class="col-lg-10">
                <%= f.text_field :discount, :class =>'form-control'  %>
              </div>
            </div>
          </div>
              <% end %>


          <br/><br/><br/>
          <div class="form-group">
            <%= f.label :price, 'Precio', :class=>'col-lg2 col-sm-2 control-label' %>
            <div class="col-lg-10">
              <div class="col-lg-10">
                <%= f.text_field :price, :class =>'form-control'  %>
              </div>
            </div>
          </div>



          <br/><br/><br/>
          <div class="form-group">
            <%= f.label :limite, 'Limite en dias', :class=>'col-lg2 col-sm-2 control-label' %>
            <div class="col-lg-10">
              <div class="col-lg-10">
                <%= f.text_field :limite, :class =>'form-control'  %>
              </div>
            </div>
          </div>



          <br/><br/><br/>


          <div class="form-group" >
            <%= f.submit 'Guardar', :class=> 'btn btn-info ' %>
            <%=  link_to 'Cancelar', admin_services_path, :class=>'btn btn-warning' %>
          </div>


      <% end %>






    </div>
  </section>
</div>