
<% fechaLiminte =  @user.plancliente.last.updated_at + @user.plancliente.last.service.limite.days %>

<br/>








  <div class="container">

    <section class="section featured-product wow fadeInUp">


      <h3 class="tit-inter"><span>Mi Cuenta</span></h3>

      <div class="row box-quehacemos" style="margin-bottom:30px;">
        <div class="col-sm-12"><h3>Menú Disponible</h3></div>
      </div>

      <div class="row">

        <div class="col-sm-4">
          <div class="box-dats">
            <p>Usted adquirio el plan:</p>
            <h1><%= @user.plancliente.last.service.name %></h1>
            <h3><%= @user.plancliente.last.service.dishes %> Platos</h3>
            <% if @user.plancliente.last.service_id == 5 %>
                <h4 class="tex-justo">Usted puede armar su planto desde<br> <b><%= @menuscliente.first.date %></b> hasta el <b><%= @menuscliente.first.date +  @user.plancliente.last.service.limite.days %></b></h4>
            <% else %>
                <h4 class="tex-justo">Sus platos se organizon desde el<br> <b><%= @menuscliente.first.date %></b> hasta el <b><%= @menuscliente.last.date %></b></h4>
            <% end %>


          </div></div>

        <div class="col-sm-7"><div class="box-dats">
          <div class="como-funciona-bg"></div>
        </div></div>

      </div>

      <% if params[:e] == '1' %>


          <div class="alert alert-success fade in">
            <button data-dismiss="alert" class="close close-sm" type="button">
              <i class="fa fa-times"></i>
            </button>
            Menu agregado correctamente
          </div>

      <% end %>


      <div class="row product-comparison" style="margin:30px 0 50px 0;">



        <%
           mesActual = Date.today.strftime("%m")
           anioActual = Date.today.strftime("%Y")
        %>



        <%
           fechaDelPrimerMes = anioActual+'-'+mesActual+'-'+'01'
           fechaDelSegundoMes = fechaDelPrimerMes.to_date + 1.months


           diasPrimerMes = fechaDelPrimerMes.to_date.end_of_month.day
           fechaDelSegundoMes = fechaDelSegundoMes.to_date.end_of_month.day
        %>

        <% @date = Date.today  %>
        <% fechaDelPrimerMes.to_date.strftime("%w")%>






        <%

            primerDiaMesActual = Date.today.strftime("%Y")+'-'+mesActual+'-01'
            primerDiaMesActual =  primerDiaMesActual.to_date
            primerDiaMesActualNumero =  primerDiaMesActual.strftime("%w").to_i
            meses = ['', 'Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre']
        %>



        <div class="col-md-12">

          <% if fechaLiminte < Time.zone.now.to_date %>
              <div class="alert alert-success fade in">
                <button data-dismiss="alert" class="close close-sm" type="button">
                  <i class="fa fa-times"></i>
                </button>
                Tu plan ha expirado para aquirir un nuevo plan ingresa <%= link_to 'aqui', planes_path %>
              </div>

          <% end %>

        </div>

        <div class="col-md-6">
          <h3><%= meses[primerDiaMesActual.strftime("%m").to_i].upcase %> <%= primerDiaMesActual.strftime("%Y").to_i %></h3>

          <div class="table-responsive table-meses">
            <table class="table table-bordered inner-top-vs">
              <tr>
                <th width="20%">LUNES</th>
                <th width="20%">MARTES</th>
                <th width="20%">MIÉRCOLES</th>
                <th width="20%">JUEVES</th>
                <th width="20%">VIERNES</th>
              </tr>


              <tr>
                <% diaAnterior = primerDiaMesActual - 1.days %>
                <% flag = 0 %>
                <% for i in 1..25

                     if primerDiaMesActualNumero == 6
                       primerDiaMesActualNumero = 1
                     end


                %>


                    <% if i <  primerDiaMesActualNumero %>
                        <td width="20%">

                        </td>


                    <% else %>

                        <%
                           flag = flag+1


                           fecha = diaAnterior + flag.days
                           fecha = fecha.to_date

                           diadelasemana = fecha.to_date.strftime("%w").to_i

                           if  diadelasemana == 6
                             fecha = fecha + 2.days
                             flag = flag + 2
                           end
                           if  diadelasemana == 0
                             fecha = fecha + 1.days
                             flag = flag + 1
                           end

                        %>



                        <td  <% if primerDiaMesActual.strftime("%m").to_i  ==   fecha .strftime("%m").to_i %> id="date<%= fecha %>" <% end %>>
                          <span>
                          <% if primerDiaMesActual.strftime("%m").to_i  ==   fecha .strftime("%m").to_i %>
                          <%= fecha.strftime("%d")  %>
                                <% end %>
                        </span>
                        </td>
                    <% end%>


                    <% if i%5 == 0 %>
                        </tr><tr>
                    <% end %>


                <% end %>
                </tr>

                </table></div>




        </div><!--MES 01-->




        <%


           mesActual = Date.today + 1.month
           mesActual = mesActual.strftime("%m")

            primerDiaMesActual = Date.today.strftime("%Y")+'-'+mesActual+'-01'
            primerDiaMesActual =  primerDiaMesActual.to_date
            primerDiaMesActualNumero =  primerDiaMesActual.strftime("%w").to_i


        %>


        <div class="col-md-6">
          <h3><%= meses[primerDiaMesActual.strftime("%m").to_i].upcase %> <%= primerDiaMesActual.strftime("%Y").to_i %></h3>

          <div class="table-responsive table-meses">
            <table class="table table-bordered inner-top-vs">
              <tr>
                <th width="20%">LUNES</th>
                <th width="20%">MARTES</th>
                <th width="20%">MIÉRCOLES</th>
                <th width="20%">JUEVES</th>
                <th width="20%">VIERNES</th>
              </tr>


              <tr>
                <% diaAnterior = primerDiaMesActual - 1.days %>
                <% flag = 0 %>
                <% for i in 1..25

                 if primerDiaMesActualNumero == 6
                   primerDiaMesActualNumero = 1
                 end
                %>




                    <% if i <  primerDiaMesActualNumero %>
                        <td width="20%">

                        </td>


                    <% else %>

                        <%
                           flag = flag+1


                           fecha = diaAnterior + flag.days
                           fecha = fecha.to_date

                           diadelasemana = fecha.to_date.strftime("%w").to_i

                           if  diadelasemana == 6
                             fecha = fecha + 2.days
                             flag = flag + 2
                           end
                           if  diadelasemana == 0
                             fecha = fecha + 1.days
                             flag = flag + 1
                           end

                        %>



                        <td  <% if primerDiaMesActual.strftime("%m").to_i  ==   fecha .strftime("%m").to_i %> id="date<%= fecha %>" <% end %>>
                            <span>
                          <% if primerDiaMesActual.strftime("%m").to_i  ==   fecha .strftime("%m").to_i %>
                          <%= fecha.strftime("%d")  %>
                                <% end %>
                        </span>
                        </td>
                    <% end%>


                    <% if i%5 == 0 %>
                        </tr><tr>
                    <% end %>


                <% end %>
                </tr>

                </table></div>




        </div><!--MES 01-->



      </div><!-- fin tablas-->

      <div class="row salto01">

        <div class="col-sm-4"><div class="box-dats">
          <span><img src="assets/images/ic-menu.png"></span>
          <h2>MI MENÚ</h2>
          <a href="mi-cuenta-armar-menu-mes.html" class="btn-upper btn btn-primary">Entrar</a>
        </div></div>

        <div class="col-sm-4"><div class="box-dats">
          <span><img src="assets/images/ic-editar.png"></span>
          <h2>MIS DATOS</h2>
          <a href="mi-cuenta-editar-datos.html" class="btn-upper btn btn-primary">Editar</a>
        </div></div>


        <div class="col-sm-4"><div class="box-dats">
          <span><img src="assets/images/ic-plan.png"></span>
          <h2>MI PLAN</h2>
          <a href="mi-plan.html" class="btn-upper btn btn-primary">Renovar</a>
        </div></div></a>
      </div>



</section><!-- /.section -->

</div><!-- /.container -->


<% if fechaLiminte < Time.zone.now.to_date %>

<% else %>
    <script !src="">

        var ready;
        ready = function() {
//
            $.getJSON( "<%= getmenus_path %>", function( data ) {
                var items = [];
                $.each( data, function( key, val ) {




                    if(val.date !=null){

                        if(val.estado){
                            $('#date'+val.fechacliente).addClass('edit')
                            $('#date'+val.fechacliente).append(' <a href="mi-cuenta-menu-del-dia.html?fecha='+val.fechacliente+'"><img src="assets/images/menu-si.png"></a>');
                        }else{
                            var actual = new Date();

                            if(actual >= new Date(val.fechacliente)){
                                $('#date'+val.fechacliente).append('<img src="assets/images/menu-sin.png">');
                            }else{
                                if( val.wok_id == null){
                                    $('#date'+val.fechacliente).append('<img src="assets/images/menu-sin.png">');
                                }else{
                                    $('#date'+val.fechacliente).append('<a href="mi-cuenta-menu-del-dia.html?fecha='+val.fechacliente+'"><img src="assets/images/menu-no.png"></a>');
                                }


                            }


                        }
                    }else{

                        $('#date'+val.fechacliente).append('<img src="assets/images/menu-sin.png">');

                    }



                });

            }).done(function(){



                <% if  @plancliente.service_id == 5 %>

                $.getJSON( "<%= platosdisponibles_path %>", function( data ) {
                    var items = [];

                    $.each( data, function( key, val ) {






                        if(!val.estado){

                            clase = $('#date'+val.date).attr('class')
                            console.log(clase)
                            //$('#date'+val.date).append('<img src="assets/images/menu-sin.png">');

                            if(clase != 'edit'){
                                $('#date'+val.date+" img").hide()
                                $('#date'+val.date).append('<a href="mi-cuenta-menu-del-dia.html?fecha='+val.date+'"><img src="assets/images/menu-no.png"></a>');
                            }
                        }


                    }).done(function(){

                        $.getJSON( '<%= getfestivos_path %>', function( data ) {
                            var items = [];

                            $.each( data, function( key, val ) {

                                console.log('.'+val.date+" span")
                                $('#date'+val.date+" span").append(' <br><small>(festivo)</small>')
                                $('#date'+val.date+" a").hide()
                                $('#date'+val.date+" img").hide()



                            });

                        });



                    });

                });
                <% end %>





            }).done(function(){


                $.getJSON( '<%= getfestivos_path %>', function( data ) {
                    var items = [];

                    $.each( data, function( key, val ) {

                        console.log('.'+val.date+" span")
                        $('#date'+val.date+" span").append(' <br><small>(festivo)</small>')
                        $('#date'+val.date+" a").hide()
                        $('#date'+val.date+" img").hide()



                    });

                });



            });






            $.getJSON( "<%= getdaydisponible_path %>?from=<%= @menuscliente.first.date %>&to=<%= @menuscliente.last.date %>", function( data ) {
                var items = [];

                $.each( data, function( key, val ) {






                    if(!val.estado){


                    }


                });

            });
















        };

        $(document).ready(ready);
        $(document).on('page:load', ready);





    </script>
<% end %>
<br/>
<%=fechaLiminte %>
<br/>

