<div class="container">

  <section class="section featured-product wow fadeInUp">
    <h3 class="tit-inter"><span>Estilo de Vida</span></h3>

    <div class="row box-quehacemos">

      <div class="col-sm-12"><h3>Beneficios de estar con La Manzana Naranja</h3></div>

    </div>

    <div class="blog-page box-quehacemos">

      <div class="row">

        <div class="col-md-6"><div class="blog-post-author-details wow fadeInUp">
          <div class="row"><div class="col-md-3">
            <img src="assets/images/iconos/03.png" alt="Responsive image" class="img-responsive">
          </div>
            <div class="col-md-9">
              <h4> <%= raw @textsGenerals[14].title %></h4>
              <%= raw @textsGenerals[14].description %>
            </div>
          </div></div></div>

        <div class="col-md-6"><div class="blog-post-author-details wow fadeInUp">
          <div class="row"><div class="col-md-3">
            <img src="assets/images/iconos/04.png" alt="Responsive image" class="img-responsive">
          </div>
            <div class="col-md-9">
              <h4> <%= raw @textsGenerals[15].title %></h4>
              <%= raw @textsGenerals[15].description %>
          </div></div></div>



      </div>

      <div class="row">

        <div class="col-md-6"><div class="blog-post-author-details wow fadeInUp">
          <div class="row"><div class="col-md-3">
            <img src="assets/images/iconos/01.png" alt="Responsive image" class="img-responsive">
          </div>
            <div class="col-md-9">
              <h4> <%= raw @textsGenerals[15].title %></h4>
              <%= raw @textsGenerals[15].description %>

          </div></div></div>


        <div class="col-md-6"><div class="blog-post-author-details wow fadeInUp">
          <div class="row"><div class="col-md-3">
            <img src="assets/images/iconos/06.png" alt="Responsive image" class="img-responsive">
          </div>
            <div class="col-md-9">
              <h4> <%= raw @textsGenerals[16].title %></h4>
              <%= raw @textsGenerals[16].description %>
            </div>
          </div></div></div>

      </div>

      <div class="row">




        <div class="col-md-6"><div class="blog-post-author-details wow fadeInUp">
          <div class="row"><div class="col-md-3">
            <img src="assets/images/iconos/09.png" alt="Responsive image" class="img-responsive">
          </div>
            <div class="col-md-9">
              <h4> <%= raw @textsGenerals[17].title %></h4>
              <%= raw @textsGenerals[17].description %>
            </div>
          </div></div></div>



      </div>


    </div>

  </section><!-- /.section -->

</div><!-- /.container -->