
<div id="hero" class="home-page-slider4">

  <div id="owl-main" class="owl-carousel silder4 owl-inner-nav owl-ui-sm">
    <div class="item" style="background-image: url(assets/images/b1.jpg);"></div>
    <div class="item" style="background-image: url(assets/images/b2.jpg);"></div>
  </div>

  <div class="customNavigation">
    <div class="container"><div class="controls clearfix hidden-xs">
      <a href="#" data-target=".silder4" class="btn btn-primary pull-left owl-prev"><i class="fa fa-angle-left"></i></a>
      <a href="#" data-target=".silder4" class="btn btn-primary pull-right owl-next"><i class="fa fa-angle-right"></i></a>
    </div><!--controls-->

    </div>
  </div>
</div>

<!-- ========================================= SLIDER END ========================================= -->

<div class="container">

  <section class="section featured-product wow fadeInUp">
    <h3 class="tit-home"><span>Menú de <img src="assets/images/icono.png" alt=""> la Semana</span></h3>
    <div class="owl-carousel home-owl-carousel custom-carousel owl-theme" data-item="5">

      <div class="item item-carousel">
        <div class="products">
          <div class="product">
            <div class="product-info text-left">
              <h3 class="name">LUNES</h3></div>
            <div class="product-image"><div class="image">
              <a href="#"><%= image_tag 'lunes.jpg' %></a>
            </div></div>
            <div class="description">Conozca las opciones para este día</div>
            <div class="cart clearfix animate-effect"><div class="action"><ul class="list-unstyled">
              <li class="add-cart-button btn-group"><button class="btn btn-primary" type="button">Armar mi Menú</button></li>
            </ul>
            </div></div></div></div>
      </div><!--item-->

      <div class="item item-carousel">
        <div class="products">
          <div class="product">
            <div class="product-info text-left">
              <h3 class="name">MARTES</h3></div>
            <div class="product-image"><div class="image">
              <a href="#"><%= image_tag 'martes.jpg' %></a>
            </div></div>
            <div class="description">Conozca las opciones para este día</div>
            <div class="cart clearfix animate-effect"><div class="action"><ul class="list-unstyled">
              <li class="add-cart-button btn-group"><button class="btn btn-primary" type="button">Armar mi Menú</button></li>
            </ul>
            </div></div></div></div>
      </div><!--item-->

      <div class="item item-carousel">
        <div class="products">
          <div class="product">
            <div class="product-info text-left">
              <h3 class="name">MIERCOLES</h3></div>
            <div class="product-image"><div class="image">
              <a href="#"><%= image_tag 'miercoles.jpg' %></a>
            </div></div>
            <div class="description">Conozca las opciones para este día</div>
            <div class="cart clearfix animate-effect"><div class="action"><ul class="list-unstyled">
              <li class="add-cart-button btn-group"><button class="btn btn-primary" type="button">Armar mi Menú</button></li>
            </ul>
            </div></div></div></div>
      </div><!--item-->

      <div class="item item-carousel">
        <div class="products">
          <div class="product">
            <div class="product-info text-left">
              <h3 class="name">JUEVES</h3></div>
            <div class="product-image"><div class="image">
              <a href="#"><%= image_tag 'jueves.jpg' %></a>
            </div></div>
            <div class="description">Conozca las opciones para este día</div>
            <div class="cart clearfix animate-effect"><div class="action"><ul class="list-unstyled">
              <li class="add-cart-button btn-group"><button class="btn btn-primary" type="button">Armar mi Menú</button></li>
            </ul>
            </div></div></div></div>
      </div><!--item-->

      <div class="item item-carousel">
        <div class="products">
          <div class="product">
            <div class="product-info text-left">
              <h3 class="name">VIERNES</h3></div>
            <div class="product-image"><div class="image">
              <a href="#"><%= image_tag 'miercoles.jpg' %></a>
            </div></div>
            <div class="description">Conozca las opciones para este día</div>
            <div class="cart clearfix animate-effect"><div class="action"><ul class="list-unstyled">
              <li class="add-cart-button btn-group"><button class="btn btn-primary" type="button">Armar mi Menú</button></li>
            </ul>
            </div></div></div></div>
      </div><!--item-->



    </div><!-- /.home-owl-carousel -->
  </section><!-- /.section -->

</div><!-- /.container -->
</div><!-- /#top-banner-and-menu -->