<div class="container">

  <% if @message %>
      <script>
        alert('datos actualizados correctamente')
      </script>
  <% end %>

  <section class="section featured-product wow fadeInUp">
    <h3 class="tit-inter"><span>Mi Cuenta</span></h3>

    <div class="row box-quehacemos">

      <div class="col-sm-12"><h3>Editar Mis Datos</h3></div>

    </div>

    <div class="col-md-12 contact-form" style="margin:30px 0 50px 0;">
      <form class="register-form" role="form" method="post">


            <input type="hidden" name="authenticity_token"  value="<%= form_authenticity_token %>" />
        <div class="col-md-4 ">

          <label class="info-title" for="exampleInputName">Nombre y Apellido <span>*</span></label>
          <input type="text" class="form-control unicase-form-control text-input" name="firstname" id="exampleInputName" value="<%= @cliente.firstname %>">
        </div>
        <div class="col-md-4">
          <label class="info-title" for="exampleInputEmail1">Email <span>*</span></label>
          <input type="email" class="form-control unicase-form-control text-input" id="exampleInputEmail1" name="email" value="<%= @cliente.email %>">
        </div>
        <div class="col-md-4">
          <label class="info-title" for="exampleInputTitle">Teléfono <span>*</span></label>
          <input type="text" class="form-control unicase-form-control text-input" id="exampleInputTitle"  name="phone" value="<%= @cliente.phone %>">
        </div>
        <div class="col-md-4">
          <label class="info-title" for="exampleInputTitle">Contraseña <span>*</span></label>
          <input type="password" class="form-control unicase-form-control text-input" id="exampleInputTitle" name="clave" value="">
        </div>
        <div class="col-md-4">
          <label class="info-title" for="exampleInputTitle">Sexo </label>

          <select class="form-control unicase-form-control text-input" id="exampleInputTitle" value="Masculino" name="sex">

            <option value="1" <% if @cliente.sex == 1 %>selected<% end %>>Masculino</option>
            <option value="2" <% if @cliente.sex == 2 %>selected<% end %>>Femenino</option>
          </select>
        </div>
        <div class="col-md-4">
          <label class="info-title" for="exampleInputTitle">Dirección de Envio <span>*</span></label>
          <input type="text" class="form-control unicase-form-control text-input" id="exampleInputTitle" value="<%= @cliente.address %>" name="address">
        </div>
        <div class="col-md-12 outer-bottom-small m-t-20">
          <button type="submit" class="btn-upper btn btn-primary checkout-page-button">GUARDAR</button>
        </div>


      </form>
    </div>


    <div class="row salto01">

      <div class="col-sm-4"><div class="box-dats">
        <span><img src="assets/images/ic-menu.png"></span>
        <h2>MI MENÚ</h2>

        <%= link_to 'Entrar', micuenta_path, :class=>'btn-upper btn btn-primary', :method=>'get' %>
      </div></div>

      <div class="col-sm-4"><div class="box-dats">
        <span><img src="assets/images/ic-editar.png"></span>
        <h2>MIS DATOS</h2>
        <a href="mi-cuenta-editar-datos.html" class="btn-upper btn btn-primary">Editar</a>
      </div></div>


      <div class="col-sm-4"><div class="box-dats">
        <span><img src="assets/images/ic-plan.png"></span>
        <h2>MI PLAN</h2>
        <%= link_to 'Renovar', miplan_path, :class=>'btn-upper btn btn-primary', :method=>'get' %>
      </div></div></a>
    </div>






</section><!-- /.section -->

</div><!-- /.container -->