<div class="container">

  <section class="section featured-product wow fadeInUp">
    <h3 class="tit-inter"><span>Promesa de Servicio</span></h3>

    <div class="row box-quehacemos">

      <div class="col-sm-4">
        <h3><%= raw @textsGenerals[0].title %></h3>
        <%= raw @textsGenerals[0].description %>
        </div>

      <div class="col-sm-7 pull-right"><div class="blog-page box-quehacemos">
        <div class="row">

          <div class="col-md-12"><div class="blog-post-author-details wow fadeInUp">
            <div class="row"><div class="col-md-3">
              <img src="assets/images/iconos/10.png" alt="Responsive image" class="img-responsive">
            </div>
              <div class="col-md-9">
                <h4><%= raw @textsGenerals[1].title %></h4>

        <%= raw @textsGenerals[1].description %>
               </div>
            </div></div></div>


          <div class="col-md-12"><div class="blog-post-author-details wow fadeInUp">
            <div class="row"><div class="col-md-3">
              <img src="assets/images/iconos/11.png" alt="Responsive image" class="img-responsive">
            </div>
              <div class="col-md-9">
                <h4> <%= raw @textsGenerals[2].title %></h4>
                <%= raw @textsGenerals[2].description %>
              </div>
            </div></div></div>

          <div class="col-md-12"><div class="blog-post-author-details wow fadeInUp">
            <div class="row"><div class="col-md-3">
              <img src="assets/images/iconos/12.png" alt="Responsive image" class="img-responsive">
            </div>
              <div class="col-md-9">
                <h4> <%= raw @textsGenerals[3].title %></h4>
                <%= raw @textsGenerals[3].description %>
              </div>
            </div></div></div>

        </div>	</div>
      </div>

      <div class="col-sm-12"><div class="blog-page box-quehacemos">
        <div class="row">

          <div class="col-md-5"><div class="blog-post-author-details wow fadeInUp">
            <div class="row">
              <h4> <%= raw @textsGenerals[4].title %></h4>
              <%= raw @textsGenerals[4].description %>
            </div></div></div>

          <div class="col-md-5 pull-right"><div class="blog-post-author-details wow fadeInUp">
            <div class="row">
              <h4> <%= raw @textsGenerals[5].title %></h4>
              <%= raw @textsGenerals[5].description %>
              <a class="btn btn-primary" type="button" href="http://www.proplanet.com.co" target="_black" >www.proplanet.com.co</a>
            </div></div></div>

        </div></div>

      </div>


  </section><!-- /.section -->

</div><!-- /.container -->