<div class="container">

  <section class="section featured-product wow fadeInUp">
    <h3 class="tit-inter"><span>¿Que Hacemos?</span></h3>

    <div class="row box-quehacemos">

      <div class="col-sm-4"><h3>Somos una empresa enfocada en <b>mejorar la salud</b> de las personas y a la divulgación de una <b>alimentación saludable, ecológica y responsable.</b></h3></div>

      <div class="col-sm-4"><img class="img-responsive" src="assets/images/ic-qehacemos.png" alt=""></div>

      <div class="col-sm-4"><h3>Queremos ayudarte a crear un <b>estilo de vida</b> que te contribuya a un cambio de hábitos de alimentación para siempre estar lleno de <b>salud y felicidad.</b></h3></div>

    </div>

    <h3 class="tit-inter"><span>Te Ofrecemos</span></h3>

    <div class="blog-page box-quehacemos">

      <div class="row">

        <div class="col-md-6"><div class="blog-post-author-details wow fadeInUp">
          <div class="row"><div class="col-md-3">
            <img src="assets/images/iconos/01.png" alt="Responsive image" class="img-responsive">
          </div>
            <div class="col-md-9">
              <h4><%= raw  @textsGenerals[1].title %></h4>
              <%= raw @textsGenerals[1].description %>
            </div>
          </div></div></div>

        <div class="col-md-6"><div class="blog-post-author-details wow fadeInUp">
          <div class="row"><div class="col-md-3">
            <img src="assets/images/iconos/02.png" alt="Responsive image" class="img-responsive">
          </div>
            <div class="col-md-9">
              <h4><%= raw @textsGenerals[2].title %></h4>
              <%= raw @textsGenerals[2].description %>
            </div>
          </div></div></div>

      </div>

      <div class="row">

        <div class="col-md-6"><div class="blog-post-author-details wow fadeInUp">
          <div class="row"><div class="col-md-3">
            <img src="assets/images/iconos/03.png" alt="Responsive image" class="img-responsive">
          </div>
            <div class="col-md-9">
              <h4><%= raw @textsGenerals[3].title %></h4>
              <%= raw @textsGenerals[3].description %></div>
          </div></div></div>

        <div class="col-md-6"><div class="blog-post-author-details wow fadeInUp">
          <div class="row"><div class="col-md-3">
            <img src="assets/images/iconos/04.png" alt="Responsive image" class="img-responsive">
          </div>
            <div class="col-md-9">
              <h4><%= raw @textsGenerals[4].title %></h4>
              <%= raw @textsGenerals[4].description %>
            </div>
          </div></div></div>

      </div>

      <div class="row">

        <div class="col-md-6"><div class="blog-post-author-details wow fadeInUp">
          <div class="row"><div class="col-md-3">
            <img src="assets/images/iconos/05.png" alt="Responsive image" class="img-responsive">
          </div>
            <div class="col-md-9">
              <h4><%= raw @textsGenerals[5].title %></h4>
              <%= raw @textsGenerals[5].description %>
            </div>
          </div></div></div>



        <div class="col-md-6"><div class="blog-post-author-details wow fadeInUp">
          <div class="row"><div class="col-md-3">
            <img src="assets/images/iconos/06.png" alt="Responsive image" class="img-responsive">
          </div>
            <div class="col-md-9">

              <h4><%= raw @textsGenerals[6].title %></h4>
              <%= raw @textsGenerals[6].description %>
            </div>
          </div></div></div>

      </div>

      <div class="row">

        <div class="col-md-6"><div class="blog-post-author-details wow fadeInUp">
          <div class="row"><div class="col-md-3">
            <img src="assets/images/iconos/07.png" alt="Responsive image" class="img-responsive">
          </div>
            <div class="col-md-9">
              <h4><%= raw @textsGenerals[7].title %></h4>
              <%= raw @textsGenerals[7].description %>
            </div>
          </div></div></div>

        <div class="col-md-6"><div class="blog-post-author-details wow fadeInUp">
          <div class="row"><div class="col-md-3">
            <img src="assets/images/iconos/08.png" alt="Responsive image" class="img-responsive">
          </div>
            <div class="col-md-9">
              <h4><%= raw @textsGenerals[8].title %></h4>
              <%= raw @textsGenerals[8].description %>
            </div>
          </div></div></div>

      </div>

    </div>

  </section><!-- /.section -->

</div><!-- /.container -->