<div class="row">

  <div class="col-lg-12">
    <section class="panel">
      <header class="panel-heading">
        Clientes
      </header>


      <div class="panel-body">


        <!-- /.row -->
        <% if flash[:notice] %>

            <div class="alert alert-success fade in">
              <button data-dismiss="alert" class="close close-sm" type="button">
                <i class="fa fa-times"></i>
              </button>
              <%= flash[:notice] %>
            </div>


        <% end %>


        <div class="adv-table">


          <div id="example_wrapper" class="dataTables_wrapper form-inline" role="grid">
            <div class="row-fluid">

              <div class="span6">

              </div></div>


            <table class="display table table-bordered table-striped dataTable" id="tableInfo" aria-describedby="example_info">
              <thead>


              <th data-sort="string" rowspan="1" colspan="1">Nombre</th>
              <th data-sort="string" rowspan="1" colspan="1">Plan</th>
              <th data-sort="string" rowspan="1" colspan="1">Estado</th>
              <th data-sort="string" rowspan="1" colspan="1">Fecha</th>
              <th  rowspan="1" colspan="1">Acciones</th>
              </thead>

              <tfoot>
              <tr>

                <th  rowspan="1" colspan="1">Nombre</th>
                <th  rowspan="1" colspan="1">Plan</th>
                <th  rowspan="1" colspan="1">Estado</th>
                <th  rowspan="1" colspan="1">Fecha</th>
                <th  rowspan="1" colspan="1">Acciones</th>

              </tfoot>
              <tbody role="alert" aria-live="polite" aria-relevant="all">

              <% @clientes.each do |cliente| %>
                  <tr>
                    <td><%= cliente.firstname %> - <%= cliente.lastname %></td>
                    <td>
                      <% if !cliente.service.last.nil? %>
                            <%= cliente.service.last.name %>
                      <% end %>
                    </td>
                    <td>
                      <% if !cliente.plancliente.last.nil? %>
                          <% if cliente.plancliente.last.estado == 0 %>
                                Pendiente de pago
                          <% end %>
                      <% end %>
                    </td>
                    <td>
                      <%=  cliente.created_at.strftime('%Y-%m-%d %H:%M'); %>
                    </td>
                    <td>
                      <%= link_to 'Editar', edit_admin_plancliente_path(cliente.id), :class=>'btn btn-info' %>

                    </td>
                  </tr>

              <% end %>


              </tbody>
            </table>
            <div class="row-fluid">
              <div class="span6">

              </div>
              <div class="span6"><div class="dataTables_paginate paging_bootstrap pagination">

              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>




<% content_for :head do %>


    <%= stylesheet_link_tag    'admin/advanced-datatable/media/css/demo_page',
                               'admin/advanced-datatable/media/css/demo_table',
                               'admin/data-tables/DT_bootstrap'
    %>



<% end %>

<% content_for :footer do %>

<%= javascript_include_tag 'admin/stupidtable.min'
%>
<script !src="">
    $(function(){
        $("#tableInfo").stupidtable();
    })
</script>

<% end %>