<div class="row">

  <div class="col-lg-12">
    <section class="panel">
      <header class="panel-heading">
        Menu
      </header>


      <div class="panel-body">


        <!-- /.row -->
        <% if flash[:notice] %>

            <div class="alert alert-success fade in">
              <button data-dismiss="alert" class="close close-sm" type="button">
                <i class="fa fa-times"></i>
              </button>
              <%= flash[:notice] %>
            </div>


        <% end %>


        <div class="adv-table">

          <% # link_to 'Agregar Menu', new_admin_menu_path, :class=>'btn btn-shadow btn-primary', :method=> 'get' %>

          <form action="">
            <input type="text" name="date"  id="date" class="" placeholder="Ingrese la fecha" readonly />
            <input type="Submit" value="Ver o Editar"/>
          </form>

          <%   if !params[:date].nil?  and !params[:date].blank? and !@menus.blank? %>
          <div id="example_wrapper" class="dataTables_wrapper form-inline" role="grid">


            <br/><br/>
            <table style="display: none" class="display table table-bordered table-striped dataTable" id="example" aria-describedby="example_info">
              <thead>


              <th rowspan="1" colspan="1">Fecha</th>
              <th>Dia</th>
              <th rowspan="1" colspan="1">Acciones</th>
              </thead>

              <tfoot>
              <tr>

                <th rowspan="1" colspan="1">Fecha</th>
                <th>Dia</th>
                <th rowspan="1" colspan="1">Acciones</th>

              </tfoot>
              <tbody role="alert" aria-live="polite" aria-relevant="all">

              <%
                 dias =['', 'Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado', 'Domingo']
              %>



              <% @menus.each do |menu| %>



                      <tr>
                        <td><%= menu.date %> </td>
                        <td>

                          <% if menu.estado == true %>
                          <strong>Festivo</strong>
                          <% else %>

                          <%= dias[menu.date.strftime("%w").to_i] %>
                          <% end %>
                        </td>
                        <td>
                          <%= link_to 'Editar', edit_admin_menu_path(menu.id), :class=>'btn btn-info',  :method=> 'get' %>
                          <%# link_to 'Eliminar', {:controller => 'admin/proteins', :action => 'destroy', :id => menu.id}, :data => {:confirm => 'Estas seguro de eliminar este elemento?'}, :method => 'DELETE',  :class=>'btn btn-danger' %>
                        </td>
                      </tr>



              <% end %>


              </tbody>
            </table>
            <div class="row-fluid">
              <div class="span6">

              </div>
              <div class="span6"><div class="dataTables_paginate paging_bootstrap pagination">

              </div>
              </div>
            </div>
          </div>


          <% else %>


          <% end %>


          <% if !params[:nada].nil? %>

              <% if !params[:date1].nil? and  !params[:date1].blank? %>
                  <%
                     fecha =  params[:date1].to_date.strftime("%w").to_i
                  %>

                  <% if fecha == 0 or fecha == 6   %>
                      <h1>Este dia no se puede armar menu, recuerde que es de lunes a viernes</h1>
                  <% else %>
                      <h1>No se encontraron registros con esta fecha</h1>
                  <% end %>


              <% end %>
              <% end  %>



<% if params[:date].nil?  %>

            <h1>Menus Creados</h1>
          <table style="margin-top: 40px;" class="display table table-bordered table-striped dataTable" id="example" aria-describedby="example_info">
            <thead>


            <th rowspan="1" colspan="1">Fecha</th>
            <th>Dia</th>
            <th rowspan="1" colspan="1">Acciones</th>
            </thead>

            <tfoot>
            <tr>

              <th rowspan="1" colspan="1">Fecha</th>
              <th>Dia</th>
              <th rowspan="1" colspan="1">Acciones</th>

            </tfoot>
            <tbody role="alert" aria-live="polite" aria-relevant="all">

            <%
               dias =['', 'Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado', 'Domingo']
            %>



            <% @menucreados.each do |menu| %>

                <% if !menu.woks.blank?%>
                <tr>
                  <td><%= menu.date %> </td>
                  <td>

                    <% if menu.estado == true %>
                        <strong>Festivo</strong>
                    <% else %>

                        <%= dias[menu.date.strftime("%w").to_i] %>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to 'Editar', edit_admin_menu_path(menu.id), :class=>'btn btn-info',  :method=> 'get' %>
                    <%# link_to 'Eliminar', {:controller => 'admin/proteins', :action => 'destroy', :id => menu.id}, :data => {:confirm => 'Estas seguro de eliminar este elemento?'}, :method => 'DELETE',  :class=>'btn btn-danger' %>
                  </td>
                </tr>


                <% end %>
            <% end %>


            </tbody>
          </table>



              <ul class="pagination" id="pagination"></ul>



          <% end %>



        </div>
      </div>
    </section>
  </div>
</div>




<% content_for :head do %>


    <%= stylesheet_link_tag    'admin/advanced-datatable/media/css/demo_page',
                               'admin/advanced-datatable/media/css/demo_table',
                               'admin/data-tables/DT_bootstrap',
                               'admin/bootstrap-datepicker.css'
    %>


<% end %>



<% content_for :footer do %>

    <%= javascript_include_tag 'admin/bootstrap-datepicker',
                                'admin/twbsPagination'
    %>


    <script>


        $(document).on('ready page:load', function () {


            $('input#date').datepicker({
                format: "yyyy-mm-dd",
                language: "es",
                orientation: "bottom auto",
                toggleActive: true,
                changeDate: function (date){
                    console.log(date)
                },
            });


            $('#pagination').twbsPagination({
                totalPages: <%= @totalpaginas.ceil %>,
                visiblePages: 5,
                href: '?page={{number}}',
                first: 'Primero',
                paginationClass: '',
                last: 'Ultimo',
                prev: 'Anterior',
                next: 'Siguiente',
                onPageClick: function (event, page) {
                    $('#page-content').text('Page ' + page);
                    $('.vpager').hide();
                    $('.cuenta'+page).show()
                    console.log(page)
                }
            });



        });




    </script>
<% end %>
