
<div class="col-lg-12">
  <section class="panel">
    <header class="panel-heading">
      Agregar Menu
    </header>
    <div class="panel-body">




      <%= form_for @menu, :url => admin_menus_path, :method=>'post' do |f|  %>


          <div class="col-md-12">

              <%= f.hidden_field :date, :class =>'form-control', :readonly=>true  %>
              <%
                 dias =['', 'Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado', 'Domingo']
              %>
              <h1><%= @menu.date %> / <small><%= dias[@menu.date.strftime("%w").to_i] %>    </small></h1>


          <h2>
            <%= f.check_box :estado, :class =>''%>
            <%= f.label :estado, 'Festivo?' %>
          </h2>

          </div>
          <br/>




          <div class="row">
            <div class="col-md-6">

              <header class="panel-heading">
                Proteinas
              </header>
              <br/>
              <%= hidden_field_tag 'menu[protein_ids][]', nil %>


              <%= collection_select('menu', 'protein_ids',
                                    Protein.all(),
                                    :id, :name, {:selected => @menu.protein_ids, :include_blank => false}, {:multiple => true, :class=>'chosen-select'}) %>

            </div>




            <div class="col-md-6">

              <header class="panel-heading">
                Carbohidratos
              </header>
              <br/>
              <%= hidden_field_tag 'menu[carbohydrate_ids][]', nil %>
              <%= collection_select('menu', 'carbohydrate_ids',
                                    Carbohydrate.all(),
                                    :id, :name, {:selected => @menu.carbohydrate_ids, :include_blank => false}, {:multiple => true, :class=>'chosen-select'}) %>


            </div>



          </div>

          <div class="row">

            <div class="col-md-6">

              <header class="panel-heading">
                Ensaladas
              </header>
              <br/>
              <%= hidden_field_tag 'menu[salad_ids][]', nil %>
              <%= collection_select('menu', 'salad_ids',
                                    Salad.all(),
                                    :id, :name, {:selected => @menu.salad_ids, :include_blank => false}, {:multiple => true, :class=>'chosen-select'}) %>

            </div>





            <div class="col-md-6">

              <header class="panel-heading">
                Sopas
              </header>
              <br/>
              <%= hidden_field_tag 'menu[soup_ids][]', nil %>
              <%= collection_select('menu', 'soup_ids',
                                    Soup.all(),
                                    :id, :name, {:selected => @menu.soup_ids, :include_blank => false}, {:multiple => true, :class=>'chosen-select'}) %>

            </div>



          </div>



          <div class="row">
            <div class="col-md-6">

              <header class="panel-heading">
                Wok
              </header>
              <br/>
              <%= hidden_field_tag 'menu[wok_ids][]', nil %>
              <%= collection_select('menu', 'wok_ids',
                                    Wok.all(),
                                    :id, :name, {:selected => @menu.wok_ids, :include_blank => false}, {:multiple => true, :class=>'chosen-select'}) %>

            </div>
          </div>


          <br/><br/><br/>



          <div class="form-group" >
            <%= f.submit 'Guardar', :class=> 'btn btn-info ' %>
            <%=  link_to 'Cancelar', admin_menus_path, :class=>'btn btn-warning' %>
          </div>


      <% end %>






    </div>
  </section>
</div>



<% content_for :head do %>


    <%= stylesheet_link_tag    'admin/advanced-datatable/media/css/demo_page',
                               'admin/advanced-datatable/media/css/demo_table',
                               'admin/data-tables/DT_bootstrap',
                               'chosen'
    %>

    <style>
        .chosen-select{
            width: 100% !important;
        }


    </style>


<% end %>



<% content_for :footer do %>


    <%=
        javascript_include_tag 'chosen.jquery'

    %>

    <script>
        var config = {
            '.chosen-select'           : {},
            '.chosen-select-deselect'  : {allow_single_deselect:true},
            '.chosen-select-no-single' : {disable_search_threshold:10},
            '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
            '.chosen-select-width'     : {width:"95%"}
        }
        for (var selector in config) {
            $(selector).chosen(config[selector]);
        }



    </script>


<% end %>

