<aside>
  <div id="sidebar"  class="nav-collapse ">
    <!-- sidebar menu start-->
    <ul class="sidebar-menu" id="nav-accordion">
      <li>
        <a class="active" href="">
          <i class="fa fa-dashboard"></i>
          <span>Dashboard</span>
        </a>
      </li>





      <li class="sub-menu">
        <a href="javascript:;" >
          <i class="fa fa-book"></i>
          <span>Menú</span>
        </a>
        <ul class="sub">
          <li><a  href="<%= admin_soups_path %>">Sopa</a></li>
          <li><a  href="<%= admin_woks_path %>">Wok</a></li>
          <li><a  href="<%= admin_proteins_path %>">Proteinas</a></li>
          <li><a  href="<%= admin_carbohydrates_path %>">Carbohidratos</a></li>
          <li><a  href="<%= admin_salads_path %>">Ensaladas</a></li>
        </ul>
      </li>

      <li class="sub-menu">


        <%= link_to 'Menú por dia',admin_menus_path, :method=>'get'  %>

      </li>



      <li class="sub-menu">
        <%= link_to 'Menú clientes',admin_menuclientes_path, :method=>'get'  %>

      </li>



      <li class="sub-menu">
        <a href="<%= admin_services_path %>" >
          <i class="fa fa-cogs"></i>
          <span>Planes</span>
        </a>
      </li>



      <li class="sub-menu">
        <a href="<%= admin_planclientes_path %>" >
          <i class="fa fa-cogs"></i>
          <span>Planes por Clientes</span>
        </a>
      </li>


      <li class="sub-menu">
        <a href="<%= admin_pictures_path %>" >
          <i class="fa fa-cogs"></i>
          <span>Imagenes categoria</span>
        </a>
      </li>



      <li class="sub-menu">
        <a href="<%= admin_texts_path %>" >
          <i class="fa fa-cogs"></i>
          <span>Textos generales</span>
        </a>

        <ul class="sub">
          <li><a  href="<%= admin_texts_path(:id=>1) %>">Que hacemos?</a></li>
          <li><a  href="<%= admin_texts_path(:id=>2) %>">Planes</a></li>
          <li><a  href="<%= admin_texts_path(:id=>3) %>">Estilo de vida</a></li>
          <li><a  href="<%= admin_texts_path(:id=>4) %>">Promesa de servicio</a></li>
          <li><a  href="<%= admin_texts_path(:id=>5) %>">Preguntas frecuentes</a></li>

        </ul>


      </li>


      <li class="sub-menu">

        <%= link_to 'Clientes',admin_customers_path, :method=>'get'  %>
      </li>








    </ul>
    <!-- sidebar menu end-->
  </div>
</aside>