<!DOCTYPE html>
<html>
<head>
  <title>Manzana Naranja</title>
  <% javascript_include_tag 'application' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'bootstrap.min',
                             'main',
                             'orange',
                             'owl.carousel',
                             'owl.transitions',
                             'lightbox',
                             'animate.min',
                             'rateit',
                             'bootstrap-select.min'
  %>
  <%= yield :head %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <% # javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="cnt-home">
<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.3";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

  <!--header start-->
  <%= render 'includes/header' %>
  <!--header end-->

  <!--sidebar end-->

  <div class="body-content" id="top-banner-and-menu">
      <%= yield %>
</div>





  <%= render 'includes/footer' %>


  <%=  javascript_include_tag  'jquery-1.11.1.min',
                               'bootstrap.min',
                               'bootstrap-hover-dropdown.min',
                               'owl.carousel.min',
                               'echo.min',
                               'jquery.easing-1.3.min',
                               'bootstrap-slider.min',
                               'jquery.rateit.min',
                               'lightbox.min',
                               'bootstrap-select.min',
                               'wow.min',
                               'scripts'
  %>
  <%= yield :footer %>

</body>
</html>
