<div class="row">

  <div class="col-lg-12">
    <section class="panel">
      <header class="panel-heading">
        Menus
      </header>


      <div class="panel-body">


        <!-- /.row -->
        <% if flash[:notice] %>

            <div class="alert alert-success fade in">
              <button data-dismiss="alert" class="close close-sm" type="button">
                <i class="fa fa-times"></i>
              </button>
              <%= flash[:notice] %>
            </div>


        <% end %>


        <div class="adv-table">


          <div id="example_wrapper" class="dataTables_wrapper form-inline" role="grid">
            <div class="row-fluid">

              <div class="span6">
                <form action="">
                  <input type="text" name="date"  id="date" class="" placeholder="Ingrese la fecha" readonly />
                  <input type="Submit" value="Ver o Editar"/>
                </form>

                <br/><br/><br/>
              </div></div>


<div id="muestra">
            <%   if !params[:date].nil?  and !params[:date].blank? and !@menusNombreCliente.blank? %>
                <h1><%= params[:date] %></h1>
            <table  class="display table table-bordered table-striped dataTable" id="example" aria-describedby="example_info">
              <thead>


              <th rowspan="1" colspan="1">Fecha</th>

              <th rowspan="1" colspan="1">Proteina</th>
              <th rowspan="1" colspan="1">Wok</th>
              <th rowspan="1" colspan="1">Sopa</th>
              <th rowspan="1" colspan="1">Carbohidrato</th>
              <th rowspan="1" colspan="1">Ensalada</th>

              <th rowspan="1" colspan="1">Usuario</th>
              <th rowspan="1" colspan="1">Direccion</th>
              <th rowspan="1" colspan="1">Fecha de creacion</th>
              </thead>

              <tfoot>
              <tr>

                <th rowspan="1" colspan="1">Fecha</th>

                <th rowspan="1" colspan="1">Proteina</th>
                <th rowspan="1" colspan="1">Wok</th>
                <th rowspan="1" colspan="1">Sopa</th>
                <th rowspan="1" colspan="1">Carbohidrato</th>
                <th rowspan="1" colspan="1">Ensalada</th>


                <th rowspan="1" colspan="1">Usuario</th>
                <th rowspan="1" colspan="1">Direccion</th>
                <th rowspan="1" colspan="1">Fecha de creacion</th>


              </tfoot>
              <tbody role="alert" aria-live="polite" aria-relevant="all">
              <% index = 0 %>

              <%
                 protein = []
                 wok = []

              %>

              <% @menusNombreCliente.each do |menu| %>




                  <tr>
                    <td><%=  menu.date.strftime('%Y-%m-%d'); %></td>
                    <td><%= if  !menu.protein.nil? then menu.protein.name else 'No quiero'  end%></td>
                    <td><%= if  !menu.wok.nil? then  menu.wok.name else 'No quiero' end %></td>
                    <td><%= if  !menu.soup.nil? then  menu.soup.name else 'No quiero' end %></td>
                    <td><%= if  !menu.carbohydrate.nil? then  menu.carbohydrate.name else 'No quiero' end %></td>
                    <td><%= if  !menu.salad.nil? then  menu.salad.name else 'No quiero' end %></td>
                    <td> <%= menu.firstname %> <%= menu.lastname %></td>
                    <td><%= menu.address %></td>
                    <td><%= menu.updated_at.strftime('%Y-%m-%d %H:%M'); %></td>

                  </tr>
                  <% index = index +1 %>
              <% end %>


              </tbody>
            </table>



            <hr/>


            <hr/>




            <h1>Totales</h1>

            <div class="row">
                <div class="col-md-3">
                  <h2>Proteinas</h2>
                    <table  class="display table table-bordered table-striped dataTable" id="example" aria-describedby="example_info">
                      <thead>
                      <th rowspan="1" colspan="1">Nombre</th>
                      <th rowspan="1" colspan="1">Cantidad</th>
                      </thead>
                      <tbody role="alert" aria-live="polite" aria-relevant="all">
                      <% @proteinas.each do |item| %>
                          <tr>
                            <td><%=  item.name %></td>
                            <td><%=  item.total %></td>
                          </tr>
                      <% end %>
                      </tbody>
                    </table>
                </div>




              <div class="col-md-3">
                <h2>Ensaldas</h2>
                <table  class="display table table-bordered table-striped dataTable" id="example" aria-describedby="example_info">
                  <thead>
                  <th rowspan="1" colspan="1">Nombre</th>
                  <th rowspan="1" colspan="1">Cantidad</th>
                  </thead>
                  <tbody role="alert" aria-live="polite" aria-relevant="all">
                  <% @ensaladas.each do |item| %>
                      <tr>
                        <td><%=  item.name %></td>
                        <td><%=  item.total %></td>
                      </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>



              <div class="col-md-3">
                <h2>Woks</h2>
                <table  class="display table table-bordered table-striped dataTable" id="example" aria-describedby="example_info">
                  <thead>
                  <th rowspan="1" colspan="1">Nombre</th>
                  <th rowspan="1" colspan="1">Cantidad</th>
                  </thead>
                  <tbody role="alert" aria-live="polite" aria-relevant="all">
                  <% @woks.each do |item| %>
                      <tr>
                        <td><%=  item.name %></td>
                        <td><%=  item.total %></td>
                      </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>


              <div class="col-md-3">
                <h2>Sopas</h2>
                <table  class="display table table-bordered table-striped dataTable" id="example" aria-describedby="example_info">
                  <thead>
                  <th rowspan="1" colspan="1">Nombre</th>
                  <th rowspan="1" colspan="1">Cantidad</th>
                  </thead>
                  <tbody role="alert" aria-live="polite" aria-relevant="all">
                  <% @sopas.each do |item| %>
                      <tr>
                        <td><%=  item.name %></td>
                        <td><%=  item.total %></td>
                      </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>




            </div>


            <div class="row">


              <div class="col-md-3">
                <h2>Carbohidratos</h2>
                <table  class="display table table-bordered table-striped dataTable" id="example" aria-describedby="example_info">
                  <thead>
                  <th rowspan="1" colspan="1">Nombre</th>
                  <th rowspan="1" colspan="1">Cantidad</th>
                  </thead>
                  <tbody role="alert" aria-live="polite" aria-relevant="all">
                  <% @carbohidratos.each do |item| %>
                      <tr>
                        <td><%=  item.name %></td>
                        <td><%=  item.total %></td>
                      </tr>
                  <% end %>
                  </tbody>
                </table>
              </div>

            </div>

                <br/><br/><br/>
      </div>
                <%= link_to 'Exportar', admin_menudiacsv_path(format: "csv", :date=>params[:date]), :class=>'btn btn-shadow btn-primary' %>
      <a href="javascript:imprSelec('muestra')" class="btn btn-shadow btn-primary">Imprimir</a>
            <% else %>
                <% if !params[:date].nil? and  !params[:date].blank? %>
                    <%
                       fecha =  params[:date].to_date.strftime("%w").to_i
                    %>

                    <% if fecha == 0 or fecha == 6   %>
              <h1>Este dia no se puede armar menu, recuerde que es de lunes a viernes</h1>
                    <% else %>
              <h1>No se encontraron registros con esta fecha</h1>
                     <% end %>


                <% end %>
            <% end %>




            <div class="row-fluid">
              <div class="span6">

              </div>
              <div class="span6"><div class="dataTables_paginate paging_bootstrap pagination">

              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>




<% content_for :head do %>


    <%= stylesheet_link_tag    'admin/advanced-datatable/media/css/demo_page',
                               'admin/advanced-datatable/media/css/demo_table',
                               'admin/data-tables/DT_bootstrap',
                                'admin/bootstrap-datepicker.css'
    %>


<% end %>



<% content_for :footer do %>

    <%= javascript_include_tag 'admin/bootstrap-datepicker' %>


    <script>

        $('input#date').datepicker({
            format: "yyyy-mm-dd",
            language: "es",
            orientation: "bottom auto",
            toggleActive: true,
            changeDate: function (date){
                console.log(date)
            },
        });



        function imprSelec(muestra)
        {var ficha=document.getElementById(muestra);var ventimp=window.open(' ','popimpr');ventimp.document.write(ficha.innerHTML);ventimp.document.close();ventimp.print();ventimp.close();}
    </script>
<% end %>